@import "../../../styles/media-queries";
@import "../../../styles/variables";

.header {
  background-color: #efefef;
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  position: sticky;
  top: 0;
  z-index: 1;

  &__scrolled {
    .logo {
      width: 120px;
    }
  }
}

.logo {
  width: 180px;
  transition: width .3s ease;
}

.links {
  display: flex;

  &--link {
    display: flex;
    padding: 3px;
    margin-left: 12px;
    font-family: $font-family-medium;
    transition: color .3s ease;

    &:hover {
      color: $leading-color;
    }

    &__active {
      color: $leading-color;
      border-bottom: 3px solid $leading-color;
    }
  }
}


@include apply-after(small) {
  .header {
    &--button {
      padding: 6px 26px;
    }
  }
}
