.header {
  width: 100%;
  padding: 20px;
  background-color: burlywood;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  position: sticky;
  top: 0;

  &__scrolled {
    background-color: green;
  }
}

.logo {

}

.links {
  display: flex;
}

.link {
  display: flex;
  margin-left: 20px;

  &__active {
    color: red;
  }
}
