<header class="header" addClassOnScroll="header__scrolled">
  <img src="/assets/Przezroczysty.png" class="logo" alt="logo">

  <div class="links">
    <a [routerLink]="['/home']" class="links--link" routerLinkActive="links--link__active">Start</a>
    <a [routerLink]="['/o-nas']" class="links--link" routerLinkActive="links--link__active">O firmie</a>
    <a [routerLink]="['/oferta']" class="links--link" routerLinkActive="links--link__active">Oferta</a>
    <a [routerLink]="['/galeria']" class="links--link" routerLinkActive="links--link__active">Galeria</a>
    <a [routerLink]="['/kontakt']" class="links--link" routerLinkActive="links--link__active">Kontakt</a>
  </div>

</header>
