<header class="header" addClassOnScroll="header__scrolled">
  <div class="logo">
    Logo
  </div>

  <div class="links">
    <a [routerLink]="['/home']" class="link" routerLinkActive="link__active">Start</a>
    <a [routerLink]="['/o-nas']" class="link" routerLinkActive="link__active">O firmie</a>
    <a [routerLink]="['/oferta']" class="link" routerLinkActive="link__active">Oferta</a>
    <a [routerLink]="['/galeria']" class="link" routerLinkActive="link__active">Galeria</a>
    <a [routerLink]="['/kontakt']" class="link" routerLinkActive="link__active">Kontakt</a>
  </div>

</header>
