<section class="carousel--wrapper">
  <section #carousel class="carousel">
    <img src="/assets/home/phot1.jpg" class="carousel--img">
    <img src="/assets/home/phot2.jpg" class="carousel--img">
    <img src="/assets/home/phot3.jpg" class="carousel--img">
    <img src="/assets/home/phot4.jpg" class="carousel--img">
    <img src="/assets/home/phot5.jpg" class="carousel--img">
    <img src="/assets/home/phot6.jpg" class="carousel--img">
    <img src="/assets/home/phot7.jpg" class="carousel--img">
  </section>
</section>
